<section class="main">
    <div class="main-right">
        <div class="main-right-header">
            <span>Thông Báo Mới</span>
            <span><a href="/notification/all">Xem Tất Cả</a></span>
        </div>
        <div class="main-right-list">
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
        </div>
    </div>