<header class="header">
    <div class="nav">
        <div class="nav-left">
            <div class="nav-ipad">
                <i class="fas fa-bars" id="navbar-icon"></i>
                <div class="nav-ipad-container">
                    <div class="nav-ipad-user">
                        <img src="<%=user.avatar%>" alt="">
                    </div>
                    <div class="nav-ipad-item">
                        <i class="fas fa-home"></i>
                        Trang Chủ
                    </div>
                    <div class="nav-ipad-item">
                        <i class="fas fa-user"></i>
                        Trang Cá Nhân
                    </div>
                    <div class="nav-ipad-item logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Đăng Xuất

                    </div>
                </div>
                <div class="nav-ipad-overlay"></div>
            </div>
            <a href="" class="logo">
                <img src="./image/logo.png" alt="">
            </a>
        </div>
        <div class="nav-center">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Tìm người dùng..." id="search-input">
            <div class="search-list">
                <a class="user-search" href="">
                    <img src="./image/bang.jpg" alt="" class="image-34">
                    <span><%=user.name %></span>
                </a>
                <a class="user-search" href="">
                    <img src="./image/bang.jpg" alt="" class="image-34">
                    <span>Anh Khoa</span>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <div class="user-group">
                <a href=""><img src="<%=user.avatar%>" alt=""></a>
                <div class="dropdown">
                    <i class="fas fa-sort-down"></i>
                    <ul class="dropdown-menu">
                        <li>
                            <i class="fas fa-user"></i>
                            Trang cá nhân
                        </li>
                        <li class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Đăng xuất
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="main">
    <div class="main-left">
        <h3>Danh Mục</h3>
        <div class="main-left-item active">
            <i class="fas fa-home"></i>
            Trang Chủ
        </div>
        <div class="main-left-item">
            <i class="fas fa-user"></i>
            Trang Cá Nhân
        </div>
        <div class="main-left-item">
            <i class="fas fa-bell"></i>
            Thông Báo
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-header">
            <span>Thông Báo Mới</span>
            <span><a href="">Xem Tất Cả</a></span>
        </div>
        <div class="main-right-list">
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
            <div class="notification">
                <div class="notification-detail">[Phòng Đại Học] - 25/2/2022</div>
                <div class="notification-title">Học Online năm 2022</div>
            </div>
        </div>
    </div>