<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav.ejs') %>
                <section class="main">
                    <div class="main-left">
                        <h3>Danh Mục</h3>
                        <div class="main-left-item">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                Trang Chủ
                            </a>
                        </div>
                        <div class="main-left-item">
                            <a href="/profile/<%=user._id%>">
                                <i class="fas fa-user"></i>
                                Trang Cá Nhân
                            </a>
                        </div>
                        <% if (user.role==1) { %>
                            <div class="main-left-item">
                                <a href="/admin">
                                    <i class="fas fa-user"></i>
                                    Quản lí tài khoản
                                </a>
                            </div>
                            <% } %>
                                <div class="main-left-item notification-bar active">
                                    <div class="notification-direction">
                                        <i class="fas fa-bell"></i>
                                        Thông Báo
                                    </div>
                                    <div class="notification-dropdown">
                                        <i class="fas fa-chevron-up"></i>
                                        <div class="notification-dropdown-menu">
                                            <div class="faculty-notify notification-dropdown-item">
                                                <i class="fas fa-users"></i>
                                                Theo Đơn Vị
                                            </div>
                                            <div class="all-notify notification-dropdown-item active">
                                                <i class="fas fa-bell"></i>
                                                Tất Cả Thông Báo
                                            </div>
                                            <% if (user.role==2) { %>
                                                <div class="add-notify notification-dropdown-item">
                                                    <i class="fas fa-plus"></i>
                                                    Thêm thông báo
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="main-center main-notification-center">
                        <div class="main-center-item notification-action">
                            <form id="notify-form-search">
                                <div class="form-group">
                                    <label for="notification-name">Tìm kiếm thông báo</label>
                                    <input type="text" class="form-control" id="notification-title"
                                        name="notification-name" placeholder="Tên thông báo...">
                                </div>
                                <div class="form-group">
                                    <label for="notification-faculty">Đơn vị</label>
                                    <select class="form-control" id="notification-faculty" name="faculty">
                                        <option value="all">Tất cả thông báo</option>
                                        <option value="1">Phòng Công tác học sinh sinh viên</option>
                                        <option value="2">Phòng Đại Học</option>
                                        <option value="3">Phòng Sau đại học</option>
                                        <option value="4">Phòng điện toán và máy tính</option>
                                        <option value="5">Phòng khảo thí và kiểm định chất lượng</option>
                                        <option value="6">Phòng tài chính</option>
                                        <option value="7">Trung tâm tin học</option>
                                        <option value="8">Trung tâm đào tạo phát triển xã hội</option>
                                        <option value="9">Trung tâm phát triển Khoa học quản lý và Ứng dụng công
                                            nghệ</option>
                                        <option value="10">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                        <option value="11">Khoa Luật</option>
                                        <option value="12">Trung tâm ngoại ngữ - tin học - bồi dưỡng văn hóa
                                        </option>
                                        <option value="13">Viện chính sách kinh tế và kinh doanh</option>
                                        <option value="14">Khoa Mỹ thuật công nghiệp</option>
                                        <option value="15">Khoa Điện - Điện tử</option>
                                        <option value="16">Khoa Công nghệ thông tin</option>
                                        <option value="17">Khoa Quản trị kinh doanh</option>
                                        <option value="18">Khoa Môi trường và bảo hộ lao động</option>
                                        <option value="19">Khoa Lao động công đoàn</option>
                                        <option value="20">Khoa Tài chính ngân hàng</option>
                                        <option value="21">Khoa giáo dục quốc tế</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-info">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="main-center-item notification-list">
                            <div id="notification-list"></div>
                            <nav aria-label="...">
                                <ul class="pagination" id="paging">

                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>
        </div>
        <div id="loading">
            <img src="/image/loading.svg" />
        </div>
    </body>
    <script src="/javascripts/main.js"></script>

    </html>